html, body {
    margin: 0;
    padding: 0;
    background-color: #eee;
}

body {
    padding: 30px;
}

body h1 {
    color: #667799;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 400%;
    margin-top: 0;
    padding-top: 0;
}

body h1 a {
    float: right;
}

body h1 a img {
    height: 100px;
    position: absolute;
    top: 30px;
    right: 30px;
}

#lineChart {
    border: 1px dashed #888;
    background-color: #fff;
    margin-top: 50px;
}

#source {
    display: block;
    padding-top: 20px;
    color: #7788aa;
    text-decoration: none;
    font-weight: bold;
}